{% extends 'default/index.html.twig' %}

{% block title %}
    Homepage
{% endblock %}
{% block body %}
    <h1>Homepage</h1>
    <div class="homepage_menu">
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Registration</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">Edit profile</a></li>
        </ul>
    </div>
{% endblock %}